<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <label for="" hidden id="id"></label>
        <label for="">Matricula</label>
        <input type="text" id="matricula">
        <br>
        <label for="">Ano</label>
        <input type="number" id="ano">
        <br>
        <label for="">Marca</label>
        <input type="text" id="marca">
        <br>
        <label for="">Modelo</label>
        <input type="text" id="modelo">
        <br>
        <label for="">Placa</label>
        <input type="text" id="placa">
        <br>
        <button onclick="cadastrarVeiculo()">Cadastrar</button>
    </div>
</body>
</html>

<script src="../scripts/veiculo.js"></script>