<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="" hidden id="id"></label>

    <label for="">Email</label>
    <input type="email" id="caduser_email">
    <br>
    <label for="">CPF</label>
    <input type="text" id="caduser_cpf">
    <br>
    <label for="">RG</label>
    <input type="text" id="caduser_rg">
    <br>
    <label for="">Nome</label>
    <input type="text" id="caduser_nome">
    <br>
    <label for="">Endereco</label>
    <input type="text" id="caduser_endereco">
    <br>
    <label for="">profissão</label>
    <input type="text" id="caduser_profissao">
    <br>
    <label for="">senha</label>
    <input type="password" id="caduser_senha">
    <br>
    <label for="">Confirmar senha</label>
    <input type="password" id="caduser_conSenha">
    <br>
    <button onclick="atualizarCadastro()">Alterar dados</button>
</body>
</html>

<script src="../scripts/usuario.js">
</script>

<script>getData()</script>