<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  
</head>
<body>
    <div class="container">
        <label for="caduser_email">email</label>
        <input type="email" id="caduser_email">

        <label for="caduser_senha">senha</label>
        <input type="password" id="caduser_senha">

        <button onclick="fetchUser()">Logar</button>
        <br>
        <a href="src/main/java/com/labsoftware/Rent/View/cadastrarUsuario.html">Cadastre-se</a>
    </div>

    <script src="../scripts/usuario.js"></script>
</body>
</html>
