<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/src/main/java/com/labsoftware/Rent/View/alterarUsuario.html">Alterar usuário</a></li>
        <li><a href="/src/main/java/com/labsoftware/Rent/View/AdicionarVeiculo.html">Cadastrar veículo</a></li>
        <li><a href="/src/main/java/com/labsoftware/Rent/View/ListarVeiculos.html">Ver veículos</a></li>
        <li><a href="/src/main/java/com/labsoftware/Rent/View/listarPedidos.html">Ver pedidos</a></li>
        <li><a href="/src/main/java/com/labsoftware/Rent/View/cadastrarPedido.html">Cadastrar pedido</a></li>
    </ul>
</body>
</html>